@page
@model ProjectShop.Pages.Colors.ColorOfPanths.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PanthsColor[0].ColorOfPanths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PanthsColor[0].DressId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PanthsColor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColorOfPanths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DressId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
