@page
@model ProjectShop.Pages.Sizes.SizeOfDresses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Sizes of Dresses</h1>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by size:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-page="./Index"> Back to full List</a>
        </p>
    </div>
</form>
<p>
    <a asp-page="Create">Create New</a> |
    <a href="/ModelsOfClothes/ModelsOfDress">Dress Models</a> |
    <a href="/Colors/ColorOfDress">Dress Colors</a> |
    <a href="/Cloathes/Dresses">Dress Brands</a> |
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SizeOfDressSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.DressSize[0].SizeOfDress)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ModelIdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.DressSize[0].Model)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DressIdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.DressSize[0].Model.Dress.Brand)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DressSize) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SizeOfDress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Dress.Brand)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
