@page
@model ProjectShop.Pages.Colors.ColorOfDress.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Colors of Dresses</h1>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by color of dress or name of dress:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-page="./Index"> Back to full List</a>
        </p>
    </div>
</form>
<p>
    <a asp-page="Create">Create New Color</a> |
    <a href="/ModelsOfClothes/ModelsOfDress">Dress Models</a> |
    <a href="/Sizes/SizeOfDresses">Dress Sizes</a> |
    <a href="/Cloathes/Dresses">Dress Brands</a> |
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ColorOfDressSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.DressColor[0].ColorOfDress)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ModelIdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.DressColor[0].Model)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DressIdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.DressColor[0].Model.Dress.Brand)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DressColor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorOfDress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.Dress.Brand)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.DressColor.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.DressColor.HasNextPage ? "disabled" : "";
}
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.DressColor.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.DressColor.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @nextDisabled">
    Next
</a>
